.login-form {
    display: flex;
    flex-direction: column;
    width: 200px;
    align-self: center;
    justify-self: center;
}

.content-wrap {
    position: absolute;
    display: grid;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.content-wrap-2 {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.race-text {
    display: none;
    font-size: 20pt;
}

.race-text .prev {
    text-decoration: line-through;
    color: green;
}

.race-text .current {
    text-decoration: underline;
}

#time-race-wrap {
    display: none;
}

#leaders {
    display: none;
}

.id {
    display: none;
}

.disconnect {
    color: red;
}

.comment-wrap {
    position: fixed;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    width: 300px;
    bottom: 10px;
    right: 10px;
    background-color: beige;
    padding: 10px;
}